<!DOCTYPE html >
<html lang="${lang}">
    <head>
        <title>Exam #{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.countdown.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.rating.css'}" />
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.4.min.js'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/jquery.countdown.min.js'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/jquery.rating.pack.js'}"></script>
	</head>
	
    <body id="crud">
        <div id="content">
	        <div id="header">
             <div>
                #{a @Application.index()}&nbsp;&nbsp;Home#{/a}
                #{if user}
                 #{if user.profile.toString() == "EXAMINER"}
                   #{a @Exams.search()}&nbsp;&nbsp;Exams#{/a} 
                 #{/if}
                 #{if user.profile.toString() == 'MANAGER'} 
                   #{a @Quizzes.search()}&nbsp;&nbsp;Quiz#{/a} 
                   #{a @Questions.search()}&nbsp;&nbsp;Questions#{/a}
                 #{/if}
                 #{if user.profile.toString() == 'ADMIN'}  
                   #{a @Admins.index()}&nbsp;&nbsp;Admin#{/a}
                 #{/if}
                #{/if}
              </div>	        
	            <div id="logo">
	               #{a @Application.index() ,style:"text-decoration:none; color: white;"}${siteTitle}#{/a}                
	            </div>
              <div>
                #{if user}
                  #{a @Profiles.show()}<b>${user.firstname} ${user.lastname}</b>#{/a} | 
                  #{a @Secure.logout()}Logout#{/a}
                #{/if}
                #{else}
                  #{a @Secure.login()}Login#{/a}
                #{/else} 
              </div>	           

	                
	        </div>
	        
	        #{doLayout /}
	        
	        
	     </div>
	     
	     <div id="footer"><p>SaaS Exam is the most powerful service for the candidate</p></div>
        
    </body>
</html>