<!DOCTYPE html >
<html lang="${lang}">
    <head>
        <title>Exam #{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.countdown.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.rating.css'}" />
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.4.min.js'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/jquery.countdown.min.js'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/jquery.MetaData.js'}"></script>
      <script type="text/javascript" src="@{'/public/javascripts/jquery.rating.pack.js'}"></script>
	</head>
	
     #{doLayout /} 
</html>