*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
 
<div class="post">
	<div>
		<span><b>${_post.title}</b></span>
        <span>by ${_post.author.firstname} ${_post.author.lastname}</span>,
        <span>${_post.postedAt.format('dd MMM yyyy')}</span>
    </div>
    <div class="post-content">
        <div class="about">Detail: </div>
        ${_post.content.nl2br()}
    </div>
</div>
 
<div class="comments">
    <span><b>${_post.comments.size() ?: 'no'} comment${_post.comments.size().pluralize()}</b></span>
    
    #{list items:_post.comments, as:'comment'}
        <div class="comment">
            <div class="comment-metadata">
                <span class="comment-author">by ${comment.author},</span>
                <span class="comment-date">
                    ${comment.postedAt.format('dd MMM yy')}
                </span>
            </div>
            <div class="comment-content">
                <div class="about">Detail: </div>
                ${comment.content.escape().nl2br()}
            </div>
        </div>
    #{/list}
    
</div>
