#{extends 'site.html' /}
#{set title:exam.examKey /}

<h2>New Exam</h2>

#{if exam.quiz }
   <p>Congratulation</p>
#{/if}
#{elseif exam.candidate }
   <h4>Step 2/2 : Store quiz</h4>
   #{form @Exams.searchQuiz(exam.id)} 
	
		#{ifErrors}
		<p class="error">All fields are required!</p>
		#{/ifErrors}
		
		<p style="display: block; clear: both;">
			<label for="title">Title: </label>
			<input type="text" name="title" id="question_title" value="" />
		</p>
		
		  <p style="display: block; clear: both;">
			<label style="float: left;">Min difficulty: </label>
		     <input type="radio" name="difficulty" class="star" value="1"/>
		     <input type="radio" name="difficulty" class="star" value="2"/>
		     <input type="radio" name="difficulty" class="star" value="3"/>
		     <input type="radio" name="difficulty" class="star" value="4"/>
		     <input type="radio" name="difficulty" class="star" value="5"/>
		</p>
		  <p style="display: block; clear: both;">
			<label for="minutes">Min time: </label>
			<input type="text" name="minutes" id="minutes" value="" />(minutes)
		</p>
		  <p style="display: block; clear: both;">
		     <label for="groupType">Type: </label> 
		     <select name="groupType" size="1" id="group_types">
                <option value=""></option>
                #{list items:models.GroupType.findAll(), as:'type'}
					 <option value="${type.id}">${type.name}</option>
					 #{/list}
		    </select>
		    </p>
		  <p style="display: block; clear: both;">
		     <label for="questions">Questions: </label> 
		     <input type="text" name="questions" id="questions" value="" />
		  </p>
		          
		  <p style="display: block; clear: both;">
		     <input type="submit" value="Search" />
		  </p>
	 
	 #{/form} 

	#{form @Exams.storeQuiz(exam.id)} 
		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Title</th>
	            <th>Difficulty</th>
	            <th>Type</th>
	            <th>Time</th>
	            <th>Questions</th>
				</tr>
			</thead>
			<tbody>
			  #{list items:quizzes, as:'quiz'}
				<tr>
					<td><input type="radio" name="quizId" value="${quiz.id}"/></td>
					<td>${quiz.title}</td>
	            <td>${quiz.difficulty}</td>
	            <td>
		            <ul>
		               #{list items:quiz.groupTypes, as:'types'}
		                  <li>${types.name}</li>
		               #{/list}
		            </ul>
		         </td>
	            <td>${quiz.second}</td>
	            <td>${quiz.questions.size()}</td>
				</tr>
				#{/list}
				#{else}
				<tr>
				   <td colspan="6" class="no-response">No quiz. Change filter values.</td>
				</tr>
				#{/else}
			</tbody>
		</table>
		
	    <p>
	        <input type="submit" value="Create" />
	    </p>
		    
	#{/form}

#{/elseif}
#{else}
   <h4>Step 1/2 : Store candidate</h4>
   #{form @Exams.CreateFirstStep(exam.id)}

	   #{ifErrors}
	        <p class="error">
	            All fields are required!
	        </p>
	    #{/ifErrors}
	    
	    <p>
	        <label for="firstname">First name: </label>
	        <input type="text" name="firstname" id="firstname" value=""/>
	    </p>
	    <p>
	        <label for="lastname">Last name: </label>
	        <input type="text" name="lastname" id="lastname" value=""/>
	    </p>
	    <p>
	        <label for="email">Email: </label>
	        <input type="text" name="email" id="email" value=""/>
	    </p>
	    <p>
	        <label for="birthdate">Birth date: </label>
	        <input type="text" name="birthdate" id="birthdate" value=""/>
	    </p>
	    
	    <p>
	        <input type="submit" value="Next step" />
	    </p>
   
   #{/form}
   
#{/else}





 

