#{extends 'site.html' /}
#{set title:'Sign in' /}

<h2>Signing in</h2>

#{form @Application.signingOk()}
    
    <p>
        <label for="firstname">First name: </label>
        <input type="text" name="firstname" id="firstname" value="${firstname}" />
        <span class="error">#{error 'firstname' /}</span>
    </p>
    <p>
        <label for="lastname">Last name: </label>
        <input type="text" name="lastname" id="lastname" value="${lastname}" />
        <span class="error">#{error 'lastname' /}</span>
    </p>
    <p>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" value="${email}"/>
        <span class="error">#{error 'email' /}</span>
    </p>
    <p>
        <label for="confirmEmail">Confirm email: </label>
        <input type="text" name="confirmEmail" id="confirmEmail" value="${confirmEmail}"/>
        <span class="error">#{error 'confirmEmail' /}</span>
    </p>
    <p>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" value="" />
        <span class="error">#{error 'password' /}</span>
    </p>
    <p>
        <label for="confirmPassword">Confirm password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" value="" />
        <span class="error">#{error 'confirmPassword' /}</span>
    </p>
    <p>
        <label for="birthdate">Birth date: </label>
        <input type="text" name="birthdate" id="birthdate"  #{if birthdate}value="${birthdate.format('yyyy-MM-dd')}#{/if}"/>
        <span class="error">#{error 'birthdate' /}</span>
    </p>

    <p>
        <input type="submit" value="Save" />
    </p>
#{/form}
