#{extends 'main.html' /}

<div id="title">
     <h1>${siteBaseline}</h1>
</div>
 
<div id="main" >
   <div id="recentQuiz" >
     <h2>Lilo Quiz, it's about</h2>
     <ul>
		<li>${nbUser} User</li>
		<li>${nbExam} Exam</li>
		<li>${nbQuiz} Quizzes</li>
		<li>${nbQuestion} Questions</li>
     </ul>
     
	 <h2>Some references</h2>
     <ul>
		<li>SQL Technologies</li>
		<li>NordNet</li>
		<li>Vauban Humanis</li>
		<li>and you ?</li>
     </ul>
   </div>
   <div id="content_main">
      #{doLayout /} 
    </div>
    
    <br class="clear" />
</div>



