#{extends 'site.html' /}
#{set title:'Question' /}

<h2>${quiz.title}</h2>
       
<p>
   <label for="title">Title: </label>
   <input type="text" name="title" id="question_title" value="${quiz.title}" readonly="readonly"/>
</p>
<p>
   <label for="difficulty">Difficulty: </label>
   #{difficulty star:quiz.difficulty, discriminator:quiz.id, readonly:true, split:true/}
</p>
<p>
   <label for="second">Time: </label>
   <input type="text" name="second" id="second" value="${quiz.second}" readonly="readonly"/>(seconds)
</p>
<p>
   <label for="groupType">Type: </label>
   <ul>
      #{list items:quiz.groupTypes, as:'types'}
         <li>${types.name}</li>
      #{/list}
   </ul>
</p>
<p>
   <label for="questions">Questions: </label>${quiz.questions.size()}
</p>
<p>
   <label for="description">Description: </label>
   <textarea name="description" cols="80" rows="10" readonly="readonly">${quiz.description}</textarea>
</p>

<p>
   <input type="submit" value="Save" />
</p>
   






 

